@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Homemade+Apple&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-apple: 'Homemade Apple', serif;
    --font-calistoga: 'Calistoga', serif;
    --font-plex: 'IBM Plex Sans';
    --color-calm: #f9f6f0;
    --color-peach: #f5896c;
    --color-burntpeach: #f2633c;
    --color-tooburnt: #eb3f10;
}
@layer base {
    input[type="text"], input[type="email"], input[type="number"] {
        border-radius: var(--radius-md);
        background: white;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 5);
        @apply w-full text-gray-900;
    }

    input[type="submit"] {
        cursor: pointer;
    }

    .field_with_errors > :is(input, textarea, select) {
        @apply border-red-500;
    }
}
@layer components {
    .form-group {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
        margin: calc(var(--spacing) * 2);
    }

    form .error {
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        text-align: right;
        @apply text-red-500
    }

    /*div.field_with_errors > label {*/
    /*    @apply text-red-900;*/
    /*}*/
}
